{
  "presets": ["react", "env"],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "alias": {
        "src": "./src",
        "components": "./src/components"
      }
    }]
  ]
}
