<!DOCTYPE html>
<html>
  <head>
    <title>save for later bot</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/build/style.css">
  </head>
  <body>

    <div id="react-root">{{{ body }}}</div>

    <script type="text/javascript" id="redux-state">
      window.__REDUX_STATE__ = {{{ state }}}
    </script>

    <script src="/build/client.bundle.js"></script>

  </body>
</html>
