body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.directMessage {
  display: table;
  // border: 2px solid #1da1f2;
  border: 1px solid #e1e8ed;
  padding: 8px 14px;
  margin: 4px 0;
  border-radius: 6px;

  &--tweet {
    border: 0;
    padding: 0;
  }

  &--link {
    display: block;
  }
}

.appRoot > .content {
  display: flex;
  flex-direction: row;
}

.directMessages {
  flex: 1 1 70%;
  max-width: 70%;
  padding: 1em;
}

.opengraphPreview {
  img {
    max-width: 100%;
  }

  &-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
